<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SYNTH</title>
    <link rel="stylesheet" href="src/css/knob.css">
    <link rel="stylesheet" href="src/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anta">
</head>

<body>
    <div class="body-outer" id="app">
        <div class="separator top-body">
            <div class="body-inner logo">

            </div>
            <div class="body-inner select-control">

            </div>
            <div class="body-inner volume-control">

            </div>
        </div>
        <div class="separator mid-body">
            <div class="mid-extra">
                <div class="body-inner" id="osc-sub">
                    <div class="title">
                        <input class="title-checkbox" type="checkbox" checked>
                        <span class="title-text">SUB</span>
                    </div>
                </div>
                <div class="body-inner" id="osc-noise">
                    <div class="title">
                        <input class="title-checkbox" type="checkbox" checked>
                        <span class="title-text">NOISE</span>
                    </div>
                </div>
            </div>

            <div class="body-inner" id="osc-main" data-id="A">
                <div class="title">
                    <input class="title-checkbox" id="checkbox-osc-A" type="checkbox" checked
                        @click="osc.A.onOff = !osc.A.onOff">
                    <span class="title-text">OSC A</span>
                </div>
                <div class="wavetable-body">
                    <canvas class="wavetable" id="wavetable-canvas-A"></canvas>
                    <div class="wavetable-selection" id="wavetable-selection-A"></div>
                </div>

                <div class="knobs-background">
                    <div class="knobs-row" @mouseUp="unselectKnobs">
                        <div class="rela-inline knob">
                            <div class="rela-block">
                                <div class="knob-updown-body">
                                    <div class="knob-updown-text" :style="{'color':osc.A.onOff?'white':'#888'}"
                                        @mouseDown="knobs[10].selected = true; app.currentY = event.pageY; event.preventDefault()">
                                        {{knobs[10].value.cur}}</div>
                                    <div class="knob-updown-button-body">
                                        <div class="knob-updown-button" :style="{'color':osc.A.onOff?'white':'#888'}"
                                            @click="updownCounter(knobs[10].value, 1);">
                                            <div style="transform: translateY(-4px);">▲</div>
                                        </div>
                                        <div class="knob-updown-button" :style="{'color':osc.A.onOff?'white':'#888'}"
                                            @click="updownCounter(knobs[10].value, -1);">
                                            <div style="transform: translateY(-3px);">▼</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':osc.A.onOff?'#E4E8EA':'#888'}">
                                {{knobs[10].label}}</div>
                        </div>

                        <div v-for="knob in [knobs[11],knobs[12],knobs[13]]" class="rela-inline knob style3">
                            <div class="rela-block knob-dial" :style="{'color':osc.A.onOff?knob.color:'#888'}">
                                <div class="abs-center dial-grip"
                                    :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                    @mouseDown="knob.selected = true; app.currentY = event.pageY; event.preventDefault()">
                                </div>
                                <svg class="dial-svg" viewBox="0 0 100 100">
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" stroke="#55595C" />
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none"
                                        :stroke="osc.A.onOff?knob.color:'#888'"
                                        :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}" />
                                </svg>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':osc.A.onOff?'#E4E8EA':'#888'}">
                                {{knob.label}}</div>

                            <div class="knob-hover-text" v-if="knob.selected">{{knob.value.cur}}</div>
                        </div>
                    </div>
                    <div class="knobs-row">
                        <div v-for="knob in [knobs[14]]" class="rela-inline knob style3">
                            <div class="rela-block knob-dial" :style="{'color':osc.A.onOff?knob.color:'#888'}">
                                <div class="abs-center dial-grip"
                                    :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                    @mouseDown="knob.selected = true; app.currentY = event.pageY; event.preventDefault()">
                                </div>
                                <svg class="dial-svg" viewBox="0 0 100 100">
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" stroke="#55595C" />
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none"
                                        :stroke="osc.A.onOff?knob.color:'#888'"
                                        :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}" />
                                </svg>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':osc.A.onOff?'#E4E8EA':'#888'}">
                                {{knob.label}}</div>

                            <div class="knob-hover-text" v-if="knob.selected">{{knob.value.cur}}</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="body-inner" id="osc-main" data-id="B">
                <div class="title">
                    <input class="title-checkbox" id="checkbox-osc-B" type="checkbox" checked
                        @click="osc.B.onOff = !osc.B.onOff">
                    <span class="title-text">OSC B</span>
                </div>
                <div class="wavetable-body">
                    <canvas class="wavetable" id="wavetable-canvas-B"></canvas>
                    <div class="wavetable-selection" id="wavetable-selection-B"></div>
                </div>


                <div class="knobs-background">
                    <div class="knobs-row" @mouseUp="unselectKnobs">
                        <div class="rela-inline knob">

                            <div class="rela-block">
                                <div class="knob-updown-body">
                                    <div class="knob-updown-text" :style="{'color':osc.B.onOff?'white':'#888'}"
                                        @mouseDown="knobs[0].selected = true; app.currentY = event.pageY; event.preventDefault()">
                                        {{knobs[0].value.cur}}</div>
                                    <div class="knob-updown-button-body">
                                        <div class="knob-updown-button" :style="{'color':osc.B.onOff?'white':'#888'}"
                                            @click="updownCounter(knobs[0].value, 1);">
                                            <div style="transform: translateY(-4px);">▲</div>
                                        </div>
                                        <div class="knob-updown-button" :style="{'color':osc.B.onOff?'white':'#888'}"
                                            @click="updownCounter(knobs[0].value, -1);">
                                            <div style="transform: translateY(-3px);">▼</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':knobs[0].active?'#E4E8EA':'#888'}">
                                {{knobs[0].label}}</div>


                        </div>

                        <div v-for="knob in [knobs[1],knobs[2],knobs[3]]" class="rela-inline knob style3">

                            <div class="rela-block knob-dial" :style="{'color':osc.B.onOff?knob.color:'#888'}">
                                <div class="abs-center dial-grip"
                                    :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                    @mouseDown="knob.selected = true; app.currentY = event.pageY; event.preventDefault()">
                                </div>
                                <svg class="dial-svg" viewBox="0 0 100 100">
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" stroke="#55595C" />
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none"
                                        :stroke="osc.B.onOff?knob.color:'#888'"
                                        :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}" />
                                </svg>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':osc.B.onOff?'#E4E8EA':'#888'}">
                                {{knob.label}}</div>

                            <div class="knob-hover-text" v-if="knob.selected">{{knob.value.cur}}</div>
                        </div>
                    </div>
                    <div class="knobs-row">
                        <div v-for="knob in [knobs[4]]" class="rela-inline knob style3">

                            <div class="rela-block knob-dial" :style="{'color':osc.B.onOff?knob.color:'#888'}">
                                <div class="abs-center dial-grip"
                                    :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                    @mouseDown="knob.selected = true; app.currentY = event.pageY; event.preventDefault()">
                                </div>
                                <svg class="dial-svg" viewBox="0 0 100 100">
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" stroke="#55595C" />
                                    <path d="M20,76 A 40 40 0 1 1 80 76" fill="none"
                                        :stroke="osc.B.onOff?knob.color:'#888'"
                                        :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}" />
                                </svg>
                            </div>

                            <div class="rela-block knob-label" :style="{'color':osc.B.onOff?'#E4E8EA':'#888'}">
                                {{knob.label}}</div>

                            <div class="knob-hover-text" v-if="knob.selected">{{knob.value.cur}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-inner filter-body">
                <div class="title">
                    <input class="title-checkbox" type="checkbox" checked>
                    <span class="title-text">FILTER</span>
                </div>
            </div>
        </div>
        <div class="separator bot-body">
            <div class="body-inner ENV-body">

            </div>
            <div class="body-inner LFO-body">

            </div>
            <div class="body-inner bot-extra">

            </div>
        </div>

        <div class="piano-body">
            <div class="wrapper">
                <header>
                    <div class="column keys-checkbox">
                        <input type="checkbox" checked>
                        <span>Show Keys</span>
                    </div>
                </header>
                <ul class="piano-keys">
                    <li class="key white" data-key="a"><span>a</span></li>
                    <li class="key black" data-key="w"><span>w</span></li>
                    <li class="key white" data-key="s"><span>s</span></li>
                    <li class="key black" data-key="e"><span>e</span></li>
                    <li class="key white" data-key="d"><span>d</span></li>
                    <li class="key white" data-key="f"><span>f</span></li>
                    <li class="key black" data-key="t"><span>t</span></li>
                    <li class="key white" data-key="g"><span>g</span></li>
                    <li class="key black" data-key="y"><span>y</span></li>
                    <li class="key white" data-key="h"><span>h</span></li>
                    <li class="key black" data-key="u"><span>u</span></li>
                    <li class="key white" data-key="j"><span>j</span></li>
                    <li class="key white" data-key="k"><span>k</span></li>
                    <li class="key black" data-key="o"><span>o</span></li>
                    <li class="key white" data-key="l"><span>l</span></li>
                    <li class="key black" data-key="p"><span>p</span></li>
                    <li class="key white" data-key=";"><span>;</span></li>
                </ul>
            </div>
        </div>
    </div>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/audiokeys@0.1.1/dist/audiokeys.min.js"></script>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
    <script src="src/js/knob.js"></script>

    <script>

        //-------------------#add wavetable images #images #wavetable------------------

        const waveTablesTypes = ['sine', 'triangle', 'sawtooth', 'square'];

        const createOSC = (checkBox, selectionBody, canvasBody) => {
            return {
                onOff: true,
                checkBox: document.getElementById(checkBox),
                body: document.getElementById(selectionBody),
                canvas: document.getElementById(canvasBody),
                waveform: null,
                oscillator: new Tone.Oscillator({
                    type: "sine",
                    frequency: 440
                }).toDestination(),
                volCenter: new Tone.Volume(-12).toDestination(),
                volSide: new Tone.Volume(-12).toDestination(),
                blend: 0.5,
                vol: 0,
            };
        };
        oscA = createOSC('checkbox-osc-A', 'wavetable-selection-A', 'wavetable-canvas-A');
        oscB = createOSC('checkbox-osc-B', 'wavetable-selection-B', 'wavetable-canvas-B');





        //------------#draw #canvas ----------------------------
        const drawLine = (ctx, x1, y1, x2, y2) => {
            ctx.beginPath();
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.stroke();
        }

        async function drawWaveform(oscBody, blendType = "none") {
            oscillator = oscBody.oscillator;
            canvas = oscBody.canvas;
            ctx = canvas.getContext('2d');
            waveform = oscBody.waveform;

            ctx.fillStyle = '#535559';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            // Set grid spacing and line color
            const gridLines = { x: 4, y: 4 };
            const gridColor = 'white';

            // ctx.lineWidth = 1;
            ctx.strokeStyle = gridColor;

            // for (let y = 0; y <= canvas.height; y += canvas.height / gridLines.x) {
            //     drawLine(ctx, 0, y, canvas.width, y); //horizontal grid lines
            // }
            // for (let x = 0; x <= canvas.width; x += canvas.width / gridLines.y) {
            //     drawLine(ctx, x, 0, x, canvas.height); //vertical grid lines
            // }

            // Draw bold X axis
            ctx.lineWidth = 2;
            drawLine(ctx, 0, canvas.height / 2, canvas.width, canvas.height / 2);

            ctx.strokeStyle = 'red';
            ctx.lineWidth = 3;
            ctx.beginPath();
            ctx.moveTo(0, canvas.height / 2);
            for (let i = 0; i < waveform.length; i++) {
                const x = (i / waveform.length) * canvas.width;
                const y = ((waveform[i] + 1) / 2) * canvas.height;
                ctx.lineTo(x, y);
            }
            ctx.stroke();

            if (blendType != "none") {
                let [unison, detune, blend] = [null, null, null];
                if (blendType == "A") {
                    unison = app.knobs[10].value.cur;
                    detune = app.knobs[11].value.cur;
                    blend = app.knobs[12].value.cur;
                }
                else if (blendType == "B") {
                    unison = app.knobs[0].value.cur;
                    detune = app.knobs[1].value.cur;
                    blend = app.knobs[2].value.cur;
                }


                let mid1 = Math.round((unison - 1) / 2);
                let mid2 = mid1;
                if (unison % 2 == 0) {
                    mid1 = Math.round(unison / 2);
                    mid2 = Math.round(unison / 2 - 1);
                }

                for (let i = 0; i < unison; i++) {
                    let x = canvas.width / 2;
                    if (unison != 1) {
                        x = i * (detune * 2 / (unison - 1)) - detune;
                        x = x * canvas.width / (100) + canvas.width / 2;
                    }

                    let y = canvas.height * (1 - blend);
                    ctx.strokeStyle = 'white';

                    if (mid1 == i || mid2 == i) {
                        y = canvas.height * blend;
                        ctx.strokeStyle = 'blue';
                    }

                    drawLine(ctx, x, y, x, canvas.height);
                }
            }

        }

        //-----------#disable all --------- if one wavetable is selected----------
        const selectWavetable = async (oscBody, selectedImg) => {
            const selectionBody = oscBody.body;
            const images = selectionBody.querySelectorAll('img');

            images.forEach(img => {
                img.style.margin = '1px';
                img.src = `src/images/${img.alt}-wave-off.png`;
                img.setAttribute('data-onoff', false);
            });

            selectedImg.style.margin = '0px';
            selectedImg.src = `src/images/${selectedImg.alt}-wave.png`;
            selectedImg.setAttribute('data-onoff', true);

            oscBody.oscillator.type = selectedImg.alt;

            oscBody.waveform = await oscBody.oscillator.asArray(1024);

            await drawWaveform(oscBody);
        };

        //------------#create------------ wavetables in selection Body
        const addWavetablesSelection = async (oscBody) => {
            let first = true;
            waveTablesTypes.forEach(name => {
                const img = document.createElement('img');
                img.classList.add('wavetable-selection-presets');
                img.src = `src/images/${name}-off.png`;
                img.alt = name;
                img.setAttribute('data-onoff', false);

                img.addEventListener("click", () => {
                    selectWavetable(oscBody, img);
                });
                oscBody.body.appendChild(img);

                if (first === true) {
                    first = img;
                }
            });
            await selectWavetable(oscBody, first);
        };

        //add wave tables asynchornously
        (async () => {
            try {
                await addWavetablesSelection(oscA);
                await addWavetablesSelection(oscB);
            } catch (error) {
                console.error('Adding OSC wavetable failed', error);
            }
        })();













        //tone
        let activeNoteA = {};
        let activeNoteB = {};

        const addOSC = (obj) => {

            osc = obj.osc;

            if (osc.checkBox.checked) {
                const oscTEMParray = [];

                let mid1 = Math.round((obj.unison - 1) / 2);
                let mid2 = mid1;
                if (obj.unison % 2 == 0) {
                    mid1 = Math.round(obj.unison / 2);
                    mid2 = Math.round(obj.unison / 2 - 1);
                }

                obj.frequency = obj.frequency * Math.pow(2, obj.pitch / 12);
                for (let i = 0; i < obj.unison; i++) {
                    let oscTEMP = new Tone.Oscillator(obj.frequency, osc.oscillator.type);

                    if (obj.unison > 1) {
                        oscTEMP.detune.value = i * (obj.detune * 2 / (obj.unison - 1)) - obj.detune;
                    }

                    if (mid1 == i || mid2 == i) {
                        oscTEMP.connect(obj.osc.volCenter).start();
                        console.log(obj.osc.volCenter.volume.value);
                    }
                    else{
                        oscTEMP.connect(obj.osc.volSide).start();
                        console.log(obj.osc.volSide.volume.value);
                    }

                    oscTEMParray.push(oscTEMP);
                }
                obj.activeNote[obj.note] = oscTEMParray;
            }
        }

        const startOSC = (key) => {
            addOSC({
                osc: oscA,
                activeNote: activeNoteA,
                unison: app.knobs[10].value.cur,
                detune: app.knobs[11].value.cur,
                blend: app.knobs[12].value.cur,
                pitch: app.knobs[13].value.cur,
                volume: app.knobs[14].value.cur,
                frequency: key.frequency,
                note: key.note,
            });

            addOSC({
                osc: oscB,
                activeNote: activeNoteB,
                unison: app.knobs[0].value.cur,
                detune: app.knobs[1].value.cur,
                blend: app.knobs[2].value.cur,
                pitch: app.knobs[3].value.cur,
                volume: app.knobs[4].value.cur,
                frequency: key.frequency,
                note: key.note,
            });
        };


        const stopOSC = async (key) => {
            if (Object.keys(activeNoteA).length != 0) {
                //console.log(activeNoteA);
                activeNoteA[key.note].forEach(async (oscTEMP) => {
                    await oscTEMP.stop();
                });
                delete activeNoteA[key.note];
            }
            if (Object.keys(activeNoteB).length != 0) {
                activeNoteB[key.note].forEach(async (oscTEMP) => {
                    await oscTEMP.stop();
                });
                delete activeNoteB[key.note];
            }
        }









        const keyboard = new AudioKeys({ rows: 1 });

        keyboard.down(async (key) => {
            await Tone.start();
            await playSynth(key);
        });

        keyboard.up(async (key) => {
            await stopSynth(key);
        });

        //piano pressed visual + sound
        const playSynth = (key) => {
            const clickedKey = document.querySelector(`[data-key="${String.fromCharCode(key.keyCode).toLowerCase()}"]`);
            clickedKey.classList.add("active");
            startOSC(key);
        };

        const stopSynth = (key) => {
            const clickedKey = document.querySelector(`[data-key="${String.fromCharCode(key.keyCode).toLowerCase()}"]`);
            clickedKey.classList.remove("active");
            stopOSC(key);
        };


        //---------------piano visual-------------------
        const keysCheckbox = document.querySelector(".keys-checkbox input");
        const pianoKeys = document.querySelectorAll(".piano-keys .key");
        let allKeys = [];

        //[Show-Keys] checkbox function
        const showHideKeys = () => {
            pianoKeys.forEach(key => key.classList.toggle("hide"));
        }
        keysCheckbox.addEventListener("click", showHideKeys);

        //piano pressed effect - click
        pianoKeys.forEach(key => {
            allKeys.push(key.dataset.key);
            key.addEventListener("mousedown", () => {
                keyboard._addKey({ keyCode: key.dataset.key.toUpperCase().charCodeAt(0) });
            });
            key.addEventListener("mouseup", () => {
                keyboard._removeKey({ keyCode: key.dataset.key.toUpperCase().charCodeAt(0) });
            });
        });

    </script>


</body>

</html>