* {
    font-family: "Anta", "sans-serif";
    margin: 0;
    padding: 0;
    user-select: none;
}

canvas {
    border: 1px solid black;
    display: block;
    margin-bottom: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.body-outer {
    flex: 1;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 1200px;
    max-height: 1200px;
}



/* body seperators */
.separator {
    display: flex;
}

.top-body {
    flex: 0.2;
    min-height: 60px;
}

.mid-body {
    flex: 1;
}

.bot-body {
    flex: 0.8;
}

.piano-body {
    display: flex;
    flex: 0.6;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

    margin-right: 10px;
    margin-bottom: 10px;
}


/* commmon components */
.title {
    display: flex;
    margin: 5px;
    align-items: center;
}

.title-text {
    font-size: small;
    font-weight: bold;
    margin-left: 5px;
    color: white;
}

.title-checkbox {
    width: 12px;
    height: 12px;
    margin-left: 1px;
}

/* mid body */
.mid-extra {
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

.body-inner {
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #2c2d2f;
    flex: 0.7;

    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-body {
    flex: 0.5;
}

.wavetable-body {
    flex: 1;

    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.wavetable-selection {
    flex: 1;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
    max-width: 20%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.wavetable-selection-presets {
    flex: 1;
    max-width: 100%;
    margin: 1px;
    cursor: pointer;
}

.wavetable {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 0px;

    max-width: 80%;
    max-height: 100%;
}


.knobs-background {
    flex: 1.2;
    width: 100%;
    background-color: #2c2d2f;
    border-radius: 8px;


    display: flex;
    flex-direction: column;
}

.knobs-row {
    flex: 1;
    margin: 5px;
    margin-top: 0;

    display: flex;
    flex-direction: row;
}



/* top body */
.logo {
    flex: 0;
    min-width: 160px;
}







/* bot body */
.ENV-body {
    flex: 0.6;
}

.LFO-body {
    flex: 0.7;
}

.bot-extra {
    flex: 0.2;
}



/* ENV-body childs */
.ENV-select-body {
    width: 100%;
    height: 35px;

    display: flex;
}

.ENV-select-box {
    flex: 1;
    border: 1px solid rgb(255, 255, 255);

    display: flex;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


.ENV-canvas-body {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#ENV-canvas {
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    flex: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}


.ENV-knobs-body {
    flex: 0.6;
    width: 100%;
    min-height: 74px;

    display: flex;
    flex-direction: row;
}










/* piano body */
.wrapper {
    display: flex;
    flex: 1;
    align-items: top;
    padding: 10px;
    border-radius: 10px;
    background: #2c2d2f;
}

.wrapper header {
    display: flex;
    flex: 1;
    margin-right: 10px;
    color: #B2B2B2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

header .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

header span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

header input {
    outline: none;
    border-radius: 30px;
}

.keys-checkbox input {
    height: 30px;
    width: 60px;
    cursor: pointer;
    appearance: none;
    position: relative;
    background: #4B4B4B
}

.keys-checkbox input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    background: #8c8c8c;
}

.keys-checkbox input:checked::before {
    left: 35px;
    background: #fff;
}



.piano-keys {
    display: flex;
    list-style: none;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 60%;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
    height: 100%;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
}

.piano-keys .key.hide span {
    display: none;
}

.piano-keys .black span {
    bottom: 13px;
    color: #888888;
}